mixin contactUsBlock(iconName, link, text)
	.col-lg-2.col-md-2.col-sm-4.col-xs-6
		.service-box.wow.fadeInDown
			a.white(href=link, target="_blank")
				i.far.fa-4x(class=iconName)
			h2=text
			if block
				block

mixin socialBlock(iconName, link, text)
	.col-lg-2.col-md-2.col-sm-4.col-xs-6
		.service-box.wow.fadeInDown
			a.white(href=link, target="_blank")
				i.fab.fa-4x(class=iconName)
			h2=text
			if block
				block

mixin link(href, title)
	a.alt(href=href, target="_blank")=title

doctype html
include mixins
html(lang="en")
	include includes/head
	script(src="./js/map.js")
	title AFC - Contact Us
	
	body#page-top
		+navbar("contact")

		section.bg-primary
			.container.text-center
				.row
					.col-lg-12
						h2 Contact Us
						hr.light
				.row
					+contactUsBlock('fa-envelope', 'mailto:info@applefallscider.ca', 'Email')
						+link("mailto:info@applefallscider.ca", "info@applefallscider.ca")
					+contactUsBlock('fa-address-card', "https://goo.gl/maps/DteZJVS2wTQ2", "Address")
						+link("https://goo.gl/maps/DteZJVS2wTQ2", "1633 County Rd 3, Carrying Place")
					+contactUsBlock('fa-phone', "tel:+1-613-242-8433", "Phone")
						+link("tel:+1-613-242-8433", "613 242-8433")
					+socialBlock('fa-facebook', "https://www.facebook.com/applefallscider", "Facebook")
					+socialBlock('fa-twitter', "https://twitter.com/AppleFallsCider", "Twitter")
					+socialBlock('fa-instagram', "https://www.instagram.com/applefallscider/", "Instagram")
		
		.map#map-canvas

		aside.bg-dark
			+subscribe

		+shoppingCart