mixin navbar(active)
	nav#mainNav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button(type="button", data-toggle="collapse", data-target="#mainNavCollapse").navbar-toggle.collapsed
					span.sr-only Toggle Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				if active == "home"
					a.navbar-brand.page-scroll(href="#page-top") Apple Falls Cider Co.
				else
					a.navbar-brand(href="/") Apple Falls Cider Co.
			.collapse.navbar-collapse#mainNavCollapse
				ul.nav.navbar-nav.navbar-right
					li
						div
							a.btn.btn-success.navbar-btn(href="/events") Book a Tour!
					if active == "home"
						+activeNav("Home")
					else
						+inactiveNav("Home", "/")
					li.dropdown
						a.page-scroll(href="#about") Info #[span.caret]
						ul.dropdown-menu
							if active == "cider"
								+activeNav("Our Cider")
							else
								+inactiveNav("Our Cider", "/our-cider")
							if active == "story"
								+activeNav("Our Story")
							else
								+inactiveNav("Our Story", "/our-story")
							if active == "news"
								+activeNav("In the News")
							else
								+inactiveNav("In the News", "/news")
							if active == "licensee"
								+activeNav("Where to Find Us")
							else
								+inactiveNav("Where to Find Us", "/find-us")
					if active == "blog"
						+activeNav("Blog")
					else
						+inactiveNav("Blog", "http://blog.applefallscider.ca")
					if active == "contact"
						+activeNav("Contact")
					else
						+inactiveNav("Contact", "/contact")
					li
						a(href="http://store.applefallscider.ca", target="_blank") Store
					li.dropdown 
						a(href="#") Social #[span.caret]
						ul.dropdown-menu
							li
								a(href="https://www.facebook.com/applefallscider", target="_blank") #[i.fab.fa-facebook.fa-fw] Facebook
							li
								a(href="https://twitter.com/AppleFallsCider", target="_blank") #[i.fab.fa-twitter.fa-fw]Twitter
							li
								a(href="https://www.instagram.com/applefallscider/", target="_blank") #[i.fab.fa-instagram.fa-fw] Instagram
					//li
						a(href="#", style="padding: 10px 15px 0px 0px;display:block;")#shoppingCartIcon
							i.fal.fa-shopping-cart.fa-2x
							span.badge#cartBadge(style="margin: 0 0 25px 2px") 0


mixin activeNav(name)
	li.active
		a.page-scroll(href="#page-top")= name

mixin inactiveNav(name, link)
	li
		a(href=link)= name

mixin footer
	aside.bg-dark.footer
		.container
			.row.visible-lg.visible-md.hidden-sm.hidden-xs.text-center
				+contactIcon('fa-envelope', "mailto:info@applefallscider.ca")
				+contactIcon('fa-address-card', "https://goo.gl/maps/DteZJVS2wTQ2")
				+contactIcon('fa-star', "https://search.google.com/local/writereview?placeid=ChIJHy2_LnY81okRQTSRyif4i48")
				+socialIcon('fa-facebook', "https://www.facebook.com/applefallscider")
				+socialIcon('fa-twitter', "https://twitter.com/AppleFallsCider")
				+socialIcon('fa-instagram', "https://www.instagram.com/applefallscider/")
			.row.hidden-lg.hidden-md.visible-sm.hidden-xs.text-center
				+contactIcon('fa-envelope', "mailto:info@applefallscider.ca")
				+contactIcon('fa-address-card', "https://goo.gl/maps/DteZJVS2wTQ2")
				+contactIcon('fa-star', "https://search.google.com/local/writereview?placeid=ChIJHy2_LnY81okRQTSRyif4i48")
			.row.hidden-lg.hidden-md.visible-sm.hidden-xs.text-center
				+socialIcon('fa-facebook', "https://www.facebook.com/applefallscider")
				+socialIcon('fa-twitter', "https://twitter.com/AppleFallsCider")
				+socialIcon('fa-instagram', "https://www.instagram.com/applefallscider/")
			.row.hidden-lg.hidden-md.hidden-sm.visible-xs.text-center
				+contactIcon('fa-envelope', "mailto:info@applefallscider.ca")
				+contactIcon('fa-address-card', "https://goo.gl/maps/DteZJVS2wTQ2")
			.row.hidden-lg.hidden-md.hidden-sm.visible-xs.text-center
				+contactIcon('fa-star', "https://search.google.com/local/writereview?placeid=ChIJHy2_LnY81okRQTSRyif4i48")
				+socialIcon('fa-facebook', "https://www.facebook.com/applefallscider")
			.row.hidden-lg.hidden-md.hidden-sm.visible-xs.text-center
				+socialIcon('fa-twitter', "https://twitter.com/AppleFallsCider")
				+socialIcon('fa-instagram', "https://www.instagram.com/applefallscider/")
			.row.text-center
				.col-lg-12
					p.footer-text Read our #[a(href="/privacy") privacy policy]. 
	+shoppingCart

mixin contactIcon(iconName, link)
	.col-lg-2.col-md-2.col-sm-4.col-xs-6
		.service-box.wow.fadeInDown
			a(href=link, target="_blank")
				i.far.fa-2x(class=iconName)

mixin socialIcon(iconName, link)
	.col-lg-2.col-md-2.col-sm-4.col-xs-6
		.service-box.wow.fadeInDown
			a(href=link, target="_blank")
				i.fab.fa-2x(class=iconName)

mixin subscribe
	.container.text-center
		.call-to-action
			h2 We'll keep you updated
			#mc_embed_signup
				form.form-inline(action="//applefallscider.us13.list-manage.com/subscribe/post?u=817f13bf09ea736c573f731b2&amp;id=1d0c18faf6", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank")
					.form-group.margin-right-5
						label.sr-only(for="mce-FNAME") First Name
						input.form-control#mce-FNAME(type="text", name="FNAME", placeholder="Isaac")
					.form-group.margin-right-5
						label.sr-only(for="mce-LNAME") First Name
						input.form-control#mce-LNAME(type="text", name="LNAME", placeholder="Newton")
					.form-group.margin-right-5
						label.sr-only(for="mce-EMAIL") Email Address
						input.form-control.email#mce-EMAIL(type="email", name="EMAIL", placeholder="nine.eight@meters/s^2.com", size="25")
					// Don't fill this one in!
					div(style="position: absolute; left: -5000px;", aria-hidden="true")
						input(type="text" name="b_817f13bf09ea736c573f731b2_81f22e84b4", tabindex="-1", value="")
					input.btn.button.btn-default#mc-embedded-subscribe(type="submit", value="Subscribe", name="subscribe")
					script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
					script(type='text/javascript').
						(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);

mixin shoppingCart
	#shoppingCartModal.modal.fade(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					button.close#closeShoppingCart &times;
					h4 Shopping Cart
				.modal-body
					.row 
						.col-lg-12
							h2 Order Overview
					#shoppingCartModalBody
					.row
						.col-lg-9.text-right
							h4 Subtotal
						.col-lg-3
							h4#subtotalModal $0.00
				.modal-footer
					.checkbox(style="float: left;")
						label
							input(type="checkbox")#legalAge
							| I am over the age of 19.
					.tooltip-wrapper(data-toggle="tooltip", title="No items in cart")#cartTooltip
						button.btn.btn-success(type="button")#checkoutButton Checkout
	#shippingModal.modal.fade(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(data-dismiss="modal", type="button") &times;
					h4 Pickup or Shipping
				.modal-body
					.row
						.btn-group(data-toggle="buttons").col-lg-12
							label.btn.btn-default.col-lg-6
								input(type="radio", name="shippingRadio", value="pickup")#cartPickup
								| Pick up my order in store
								.row(style="padding: 20px;")
									i.fal.fa-shopping-bag.fa-4x
								| No extra charge
							label.btn.btn-default.col-lg-6.active
								input(type="radio", name="shippingRadio", value="shipping", checked)#cartShipping
								| Deliver my order
								.row(style="padding: 20px;")
									i.fal.fa-cube.fa-4x
								| $7 Shipping
					.row.pad-top-20
						.col-lg-12
							p#shippingMessage We ship to anywhere in Canada. You can expect your order within 7 business days. For more information, read our shipping policy.
				.modal-footer
					button.btn.success#continueCheckout(data-loading-text="Sending...") Continue

mixin offerPopup
	#offerModal.modal.fade(role="dialog")
		.modal-dialog
			.modal-content
				.modal-body
					img(src="/img/events/christmas-banner.jpg").img-responsive.popup-banner
					#popup-content
						.row
							.col-lg-12.text-center
								p We've got a special offer for you! Sign up for our mailing list right now and receive 10% off Apple Falls Cider merchandise and apparel.
						form.row.form-group
							.col-lg-12
								label Email
								input.form-control(type="email", placeholder="Please enter your email.", required)#offerEmail
				.modal-footer
					button.btn.btn-success#offerSubscribeButton Subscribe
					button.btn.btn-danger#closeOfferButton(data-dismiss="modal") Close

mixin squarePaymentForm
	#sq-ccbox
		form#nonce-form(novalidate action="/process-card" method="post")
			p Pay with a credit card.
			table
				tbody
					tr
						td Card Number:
						td
							#sq-card-number
					tr
						td CVV:
						td
							#sq-cvv
					tr
						td Expiration Date:
						td
							#sq-expiration-date
					tr
						td Postal Code:
						td
							#sq-postal-code
					tr
						td(colspan="2")
							button#sq-creditcard.button-credit-card(onclick="requestCardNonce(event)") Pay with card
			input#card-nonce(type="hidden" name="nonce")
	#sq-walletbox
		p Pay with a Digital Wallet
		#sq-apple-pay-label.wallet-not-enabled Apple Pay for Web not enabled.
		button#sq-apple-pay.button-apple-pay

		#sq-masterpass-label.wallet-not-enabled Masterpass not enabled
		button#sq-masterpass.button-masterpass

mixin chevron
	.text-center.chevron-wrapper.wow.bounce(data-wow-delay="0.5s")
		a(href="#top").white.page-scroll
			i.fal.fa-chevron-down.fa-6x